*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding: 20px;
    margin-top: 30vh;
    background-color: antiquewhite;
    height: 50vh;
    width: 60vw;
    border-radius: 15px;
    box-shadow: 2px 2px 0px rgb(18, 6, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.change-quote{
    border: none;
    padding: 15px;
    background-color: blue;
    color : white;
    border-radius: 7px;
    /* /* height: 60px; */
    /* width: 150px; */
    /* margin-bottom: 3vh; */
}

.change-quote:hover{
    padding: 30px;
    box-shadow: 10px 10px 50px blue;
    transition: all 0.3s ease-in-out;
}

.quote-div{
    width: 60vw;
    position: fixed;
    top: 40vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    font-size: 24px;
    padding: 5vw;
}

.author-name{
    font-size: 18px;
    font-style: italic;
}

.buttons{
    margin-top: 5vh;
    position: fixed;
    bottom: 25vh;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 10px;
    background-color: black;
    height: 70px;
    margin-bottom: 10px;
}

.clipboard, .twitter{
    color: white;
    padding: 15px;
    border-radius: 10px;
}


.clipboard > img:hover, .twitter > img:hover{
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.clipboard > img, .twitter > img{
    height: 40px;
}